html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body,  .x {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

 section {
    height: 100vh;
  }

  body {
    margin: 0;
    overflow: hidden;
    background: hsl(292, 27%, 27%);
  }

  .slider {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 300px;
   padding: 20px;
   background: rgba(26, 25, 25, 0.5);
   color: white;
 }
 .slider label {
   flex: 1;
 }
 .slider input {
   width: 100%;
 }